.img-container{
    width:50%;
    margin: 2%; 
  }

  

  .imagedp {
    width:70%; 
    margin-left: 05%;
    /* height:700; */
    border-radius:100%;
    box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 0px 2px, rgba(241, 241, 241, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    /* opacity:0.9; */
   
  }

  #head{
      display: flex;
  }
   .info-c{
    width: 50%;
    margin-left: 17%;
    justify-content: center;
    align-content: center;
   }

.extra {
    color:white !important;
}
 

  @media only screen and (max-width: 600px) {
      #head {
          flex-wrap: wrap;
          overflow-x: hidden;
      }
      .info-c{
        justify-content: center;
        align-content: center;
        margin-right: 30%;
      }
      .img-container{
         padding-top: 9%; 
          width: 90%;
          justify-content: center;
        align-content: center;
        z-index: 2 !important;
      }

      .imagedp{
        
          margin-left: 15%;
      }
  }

  .hi{
    font-size:80px;
    color:aqua   !important;
    font-family: 'Poppins', sans-serif;
  }

  .name{
    font-size:43px;
    color:greenyellow !important;
    font-family: 'Poppins', sans-serif;
  }

  @import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap");
  .name {
    /* font-size: 10vw; */
    max-width: 75vw;
    color: #fefefe;
  }
  .name span {
    background-image: linear-gradient(transparent calc(95% - 1px), #afcf21 5px);
    background-size: 0;
    background-repeat: no-repeat;
    display: inline;
    transition: 0.5s ease;
  }
  .name:hover span {
    background-size: 100%;
  }

  .line{
    font-size:20px;
  color:white;
  font-family: 'Poppins', sans-serif;
  }


  